[Unit]
Description=Daily distribution of Caddy-issued certificates

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
