name: Back Tests

on:
  push:
    branches:
      - master
    paths:
      - 'back/**'
  pull_request:
    branches:
      - master
    paths:
      - 'back/**'

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: back

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.12.0
          cache: 'npm'
          cache-dependency-path: back/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test
